p {
    font-size: $font-size-5;
    font-weight: normal;
    line-height: $line-height-lg;
    margin: 0 0 $grid-base 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: $font-size-base;
    line-height: $line-height-base;
    margin: 0;
}

a {
    color: $white;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}