.col {
    width: 100%;
    padding-left: $gutter;
    padding-right: $gutter;
    
    &--sm75 {
        @include sm-up {
            flex: 0 0 75%;
            max-width: 75%;
        }
    }

    &--sm50 {
        @include sm-up {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    
    &--sm33 {
        @include sm-up {
            flex: 0 0 33.3333%;
            max-width: 33.3333%;
        }
    }
    
    &--sm25 {
        @include sm-up {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }

    &--md75 {
        @include md-up {
            flex: 0 0 75%;
            max-width: 75%;
        }
    }

    &--md50 {
        @include md-up {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    
    &--md33 {
        @include md-up {
            flex: 0 0 33.3333%;
            max-width: 33.3333%;
        }
    }
    
    &--md25 {
        @include md-up {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }

    &--lg75 {
        @include lg-up {
            flex: 0 0 75%;
            max-width: 75%;
        }
    }

    &--lg50 {
        @include lg-up {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    &--lg33 {
        @include lg-up {
            flex: 0 0 33.3333%;
            max-width: 33.3333%;
        }
    }

    &--lg25 {
        @include lg-up {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }

}