.icon-box {
    text-align: center;

    &__image {
        margin-bottom: $grid-base * 1.5;
    }

    &__title {
        color: $blue-muted;
        display: block;
        font-size: $font-size-4;
        font-weight: bold;
        font-style: italic;
        line-height: $line-height-base;
        margin-bottom: $grid-base * 1.5;
    }

    &__info {
        color: $blue-muted;
        display: block;
        font-size: $font-size-5;
    }
}