.hero {
    color: $white;
    background-color: $blue-dark;
    padding-bottom: $grid-base * 8;
    padding-top: $grid-base * 10;
    
    @include md-up {
        background: url("../img/bg-adbox.jpg") center no-repeat, $blue-dark;
        height: 434px;
        padding-left: $grid-base * 5;
    }

    &__container {        
        @include md-up {
            padding-right: $grid-base * 50;
        }
        @include lg-up {
            padding-right: $grid-base * 70;
            
        }
    }

    &__heading
    {
        margin-bottom: $grid-base * 2.5;
    }
}