.product-list {
    background-color: $gray-light;

    & .product-selector {
        margin-bottom: $grid-base * 5;
        margin-top: $grid-base * 5;
    }

    & .pagination {
        margin-top: $grid-base * 4;
        margin-bottom: $grid-base * 7;
    }
}