.promos {
    padding-top: $grid-base * 8;

    & .row {
        margin-bottom: $grid-base * 3;
    }

    &__item {
        padding: $grid-base * 6.5 $grid-base * 1.5;
        
        &--first {
            background-color: $accent;
            padding-bottom: $grid-base * 7;
            padding-top: $grid-base * 7;

            @include md-up {
                background: url("../images/promo-1.jpg") no-repeat;
            }

            @include lg-up {
                padding-left: $grid-base * 7;
            }
        }

        &--second {
            background-color: #2BB9D5;

            @include md-up {
                background: url("../images/promo-2.jpg") no-repeat;
            }

            @include lg-up {
                padding-left: $grid-base * 7;
            }

            
            & .btn {
                margin-top: $grid-base * 2.5;
            }
        }

        &--third {
            background-color: #F3BBC4;

            @include md-up {
                background: url("../images/promo-3.jpg") no-repeat;
            }

            @include lg-up {
                padding-left: $grid-base * 7;
            }

            & .btn {
                margin-top: $grid-base * 2.5;
            }
        }
    }

    &__text {
        color: $white;
        font-weight: bold;
        line-height: $line-height-sm;

        &--lvl1 {
            display: block;
            font-size: $font-size-2;
            margin-bottom: $grid-base * 3;
        }

        &--lvl2 {
            display: block;
            font-size: $font-size-3;
        }

        &--lvl3 {
            font-size: $font-size-3;
        }
    }

    &__code {
        & .btn {
            margin-left: $grid-base * 2;
        }
    }
}